<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=width-device, initial-scale=1.0">
	<meta name="author" content="Peterson Odair">
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/conta.css">
	<title>Cadastro</title>
</head>

<body>

	<div class="Formulario-Login">

		<div class="container">

			<div class="main-div">
				
				<div class="texto-header">
					<h4 style="color: #E08600;">CADASTRO</h4>
				</div>

				<form method="post" th:object="${conta}" action="salvarConta">	
					
					<div class="alert alert-danger" role="alert" th:if="${message}">
						<label class="validation-message" th:text="${message}"></label>
					</div>
					
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('usuario')}">
						<label class="validation-message" th:errors="*{usuario}"></label>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" th:field="*{usuario}" placeholder="insira um nome de usuario">
					</div>
					
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
						<label class="validation-message" th:errors="*{email}"></label>
					</div>
					
					<div class="form-group">
						<input type="email" class="form-control" th:field="*{email}" placeholder="informe um endereço de e-mail">
					</div>
					
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('senha')}">
						<label class="validation-message" th:errors="*{senha}"></label>
					</div>

					<div class="form-group">
						<input type="password" th:field="*{senha}" class="form-control" placeholder="insira uma senha">
					</div>
					
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('repetirSenha')}">
						<label class="validation-message" th:errors="*{repetirSenha}"></label>
					</div>
					
					<div class="alert alert-danger" role="alert" th:if="${confirmacao eq false}">
						<label class="validation-message" th:text="${diferentes}"></label>
					</div>
					
					<div class="form-group">
						<input  type="password" th:field="*{repetirSenha}" class="form-control" placeholder="confirme a senha">
					</div>

					<div class="login"  style="margin-bottom: 10px;">
						<a th:href="@{/login}">Já possui uma conta? Clique aqui</a>
					</div>

					<button type="submit" class="btn btn-success">CADASTRAR</button>
					<a class="btn btn-outline-danger" th:href="@{/}">VOLTAR</a>


				</form>

			</div>

		</div>

	</div>

	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>