<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=width-device, initial-scale=1.0">
	<meta name="author" content="Peterson Odair">
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/btn.css">
	<title>Login</title>
</head>

<body>
	<div th:replace="~{fragmentos/fragmento-bg :: cabecalho}"></div>

	<div class="login-background" style="background-image: url('img/fundo-login.jpg');">

		<div class="container" style="margin-top: 50px; margin-bottom: 20px; min-height: 68vh;">
          
          <div class="col-md-10 mx-auto col-lg-5">

			<form method="post" class="p-4 p-md-5 border border-warning rounded bg-light">
				
				<h4 style="color: #E08600;">Login</h4>
			    <br>

				<div class="row">
					<div class="col-md-6 form-grop">
						<label style="color: #E08600;">Nome de Usuario:</label>
						<input class="form-control border border-warning">
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-md-6 form-grop">
						<label style="color: #E08600;">Senha:</label>
						<input class="form-control border border-warning">
					</div>
				</div>

				<br>

				<div class="row">
					<button type="submit" class="btn btn-success">ENTRAR</button>
					<!--Espaçamento-->&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="btn btn-outline-danger">VOLTAR</a>
				</div>

			</form>
			  
		  </div>
          
          
          
			

		</div>

	</div>

	<div th:replace="~{fragmentos/fragmento-bg :: rodape}"></div>

	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>